<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 的值为 dao接口 的全限定类名 -->
<mapper namespace="cn.sea.dao.ProvinceDao">

    <!-- 分页查询所有 -->
    <select id="findByPage" resultType="cn.sea.entity.Province">
        SELECT `id`,`name`,`tags`,`placecounts`
        FROM `t_province`
        ORDER BY `placecounts` DESC
        LIMIT #{start},#{rows}
    </select>

    <!-- 查询总条数 -->
    <select id="findTotals" resultType="Long">
        SELECT COUNT(`id`) FROM `t_province`
    </select>

    <!-- 添加省份 -->
    <insert id="save" parameterType="cn.sea.entity.Province" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_province`(`id`,`name`,`tags`,`placecounts`)
        VALUES(#{id}, #{name}, #{tags}, #{placecounts})
    </insert>

    <!-- 删除省份信息 -->
    <delete id="delete" parameterType="String">
        DELETE FROM `t_province` WHERE `id`=#{id}
    </delete>

    <!-- 根据主键查询 -->
    <select id="findByPrimaryKey" parameterType="String" resultType="cn.sea.entity.Province">
        SELECT `id`,`name`,`tags`,`placecounts`
        FROM `t_province`
        WHERE `id` = #{id}
    </select>

    <!-- 更新省份信息 -->
    <update id="update" parameterType="cn.sea.entity.Province">
        UPDATE `t_province` set `name` = #{name}, `tags` = #{tags},  `placecounts` = #{placecounts}
        WHERE `id` = #{id}
    </update>

    <!-- 查询所有省份信息 -->
    <select id="findAll" resultType="cn.sea.entity.Province">
        SELECT `id`,`name`,`tags`,`placecounts`
        FROM `t_province`
    </select>
</mapper>